@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  position: fixed;
  left: 0;
  right: 0;
}

main {
  position: absolute;
  font-family: 'JetBrains Mono', monospace;
}
.a {
  position: absolute;
  font-family: 'JetBrains Mono', monospace;
}